[submodule "vimfiles/bundle/vim-easy-align"]
	path = vimfiles/bundle/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git
[submodule "vimfiles/bundle/previm"]
	path = vimfiles/bundle/previm
	url = https://github.com/kannokanno/previm.git
[submodule "vimfiles/bundle/open-browser.vim"]
	path = vimfiles/bundle/open-browser.vim
	url = https://github.com/tyru/open-browser.vim
[submodule "vimfiles/bundle/nerdtree"]
	path = vimfiles/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "VIMPROJ/3rd/dein.vim/repos/github.com/Shougo/dein.vim"]
	path = VIMPROJ/3rd/dein.vim/repos/github.com/Shougo/dein.vim
	url = https://github.com/Shougo/dein.vim.git
[submodule "vimfiles/bundle/html5.vim"]
	path = vimfiles/bundle/html5.vim
	url = https://github.com/othree/html5.vim.git
[submodule "vimfiles/bundle/pdv"]
	path = vimfiles/bundle/pdv
	url = https://github.com/tobyS/pdv.git
[submodule "vimfiles/bundle/vmustache"]
	path = vimfiles/bundle/vmustache
	url = https://github.com/tobyS/vmustache.git
[submodule "vimfiles/bundle/ultisnips"]
	path = vimfiles/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
